@{
  Layout = "_Layout";
}

<h1>Welcome to a Restaurant tracker!</h1>
<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p> 
<p>@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</p>